Numpy,pandas : 데이터 분석
matplotlib : 시각화<br>
pandas 명령어 <br>

### Series : 1차원 데이터
##### 리스트 형태인데, 데이터 처리를 쉽게 할 수 있도록 하는 라이브러리

In [ ]:
import pandas as pd

# 1차원 데이터

a_list = [-20,-10,10,20]
temp = pd.Series(a_list) # 리스트 타입을 1차원 Series타입 변환: 인덱스가 자동으로 생성됨.
# 왼쪽열 인덱스 오른쪽열 컬럼이라고 함. 
print(temp[2])
temp # index,column

10

0   -20
1   -10
2    10
3    20
dtype: int64

In [12]:
## Series index 지정하는 방법

temp = pd.Series(a_list,index=['1월','2월','3월','4월'])
temp
print(temp['1월'])
print(temp['4월'])

-20
20

In [15]:
#index 개수가 틀리면 에러 처리
# temp = pd.Series(a_list,index=['1월','2월','3월','4월','5월'])
temp = pd.Series(a_list,index=['1월','2월','3월','4월'])
temp

1월   -20
2월   -10
3월    10
4월    20
dtype: int64

#### DataFrame : 2차원데이터

In [ ]:
# dic 형태
data = {
    '번호':['1번','2번','3번','4번','5번'],
    '이름':['홍길동','유관순','이순신','강감찬','김구'],
    '합계':[300,299,250,270,297]
    
}
data

{'번호': ['1번', '2번', '3번', '4번', '5번'],
 '이름': ['홍길동', '유관순', '이순신', '강감찬', '김구'],
 '합계': [300, 299, 250, 270, 297]}

In [18]:
# 딕셔너리 타입 구현 

data['이름']
data['합계']

[300, 299, 250, 270, 297]

In [19]:
## pandas DataFrame 형태로 변경
df = pd.DataFrame(data)
df

   번호   이름   합계
0  1번  홍길동  300
1  2번  유관순  299
2  3번  이순신  250
3  4번  강감찬  270
4  5번   김구  297

In [21]:
df['이름']
df['합계']

0    300
1    299
2    250
3    270
4    297
Name: 합계, dtype: int64

In [22]:
df['번호']

0    1번
1    2번
2    3번
3    4번
4    5번
Name: 번호, dtype: object

In [23]:
# df 2가지 이상 출력하려면 [[]] 2번 사용해서 출력해야함 .
df[['번호','합계']]

   번호   합계
0  1번  300
1  2번  299
2  3번  250
3  4번  270
4  5번  297