In [85]:
import pandas as pd


df = pd.read_csv('file/stock.csv',index_col='N')
df.index.name = "번호"
df.head(2)

df.describe()

           외국인비율         ROE
count  250.00000  202.000000
mean    18.42600    8.374010
std     16.25217   13.127001
min      0.00000  -53.210000
25%      6.52000    3.025000
50%     14.14500    8.085000
75%     28.26250   13.147500
max     75.18000   58.010000

In [29]:
# '종목명','현재가','등락률','시가총액' 출력하시오
# df[['종목명','현재가','등락률','시가총액']][10:20]

# columns 3:5
# df[df.columns[3:5]][3:20] # column 기준으로 row 출력

# df.loc[3:30]

# 종목명을 가지고 역순정렬 상위 10까지 출력하시오
# df = df.set_index("종목명")
# df.sort_index(inplace=True) # 순차정렬
# df.sort_index(ascending=False,inplace=True)
df.head(10)
df[df.columns[[1,3,-1]]].head(10)

             전일비    액면가    ROE
종목명
효성티앤씨      하락500  5,000   9.84
효성중공업   상승14,000  5,000  14.90
호텔신라       상승600  5,000  -6.50
현대해상       상승450    500  15.75
현대차우     상승2,200  5,000    NaN
현대차2우B   상승2,300  5,000    NaN
현대차      상승4,000  5,000  12.43
현대제철       상승550  5,000  -0.06
현대위아       상승300  5,000   3.45
현대오토에버   상승2,200    500  10.40

In [32]:
### df - column 정보 출력, df.iloc, df.loc - row정보를 출력
df['현재가']
df[:][:5]
df.iloc[:3]

,현재가,전일비,등락률,액면가,시가총액,상장주식수,외국인비율,거래량,PER,ROE
종목명,,,,,,,,,,
효성티앤씨,"236,500",하락500,-0.21%,"5,000","10,235","4,328",17.85,"2,453",7.61,9.84
효성중공업,"532,000","상승14,000",+2.70%,"5,000","49,607","9,325",15.84,"30,049",22.28,14.90
호텔신라,"44,050",상승600,+1.38%,"5,000","17,289","39,248",14.99,"59,944",-28.64,-6.50

In [93]:
# # df.info() # 현재가 타입 - object
# # df['현재가'][:3] # 타입을 변경하려고 함.


# ## 숫자타입 변경시 

# ## 1.천단위 표시 제거를 해야함.
# ## 2. str.replace를 써야함
# ## 3. 타입 변경
# # df['현재가'].str.replace(",","")
# df['현재가'] = df['현재가'].str.replace(",","").astype(int)
# # df['현재가'] # object


# # df.info()

# ## 최대값,최소값, 사위5개 출력, 하위 5개 출력, 평균
# df.reset_index(inplace=True)
# df.set_index("현재가")
# df.head(5)
# df.tail(5)
df.mean()
# df.min()
# df.max()
df

TypeError: Could not convert ['삼성전자SK하이닉스LG에너지솔루션삼성바이오로직스현대차한화에어로스페이스삼성전자우기아KB금융HD현대중공업셀트리온NAVER신한지주현대모비스한화오션메리츠금융지주삼성물산POSCO홀딩스HD한국조선해양두산에너빌리티하나금융지주크래프톤삼성화재고려아연한국전력삼성생명HMM카카오LG화학KT&GSK이노베이션우리금융지주KT삼성중공업SK스퀘어HD현대일렉트릭현대로템기업은행삼성SDILG전자SK텔레콤하이브카카오뱅크LG삼성에스디에스SK포스코퓨처엠삼성전기한국항공우주포스코인터내셔널LIG넥스원KODEX CD금리액티브(합성)유한양행대한항공한화시스템현대글로비스한미반도체TIGER 미국S&P500HD현대마린솔루션아모레퍼시픽삼양식품미래에셋증권LS ELECTRICSK바이오팜코웨이HD현대미포DB손해보험HD현대KODEX 머니마켓액티브KODEX 200두산S-Oil한진칼LG유플러스한화솔루션맥쿼리인프라현대차2우BLG씨엔에스NH투자증권LG생활건강TIGER CD금리투자KIS(합성)한국타이어앤테크놀로지효성중공업오리온현대건설삼성증권한국금융지주삼성카드TIGER 미국나스닥100두산밥캣LS넷마블LG디스플레이KODEX 미국S&P500카카오페이삼성E&AKODEX KOFR금리액티브(합성)에이피알CJ한화CJ제일제당SKC에코프로머티GS현대차우포스코DX현대오토에버키움증권강원랜드LG이노텍한국가스공사한미약품JB금융지주현대제철BNK금융지주KODEX 종합채권(AA-이상)액티브시프트업두산로보틱스엔씨소프트SK바이오사이언스TIGER 미국테크TOP10 INDXX한화비전현대엘리베이터금호석유화학이수페타시스TIGER KOFR금리액티브(합성)RISE 머니마켓액티브롯데케미칼F&F동서KODEX 레버리지이마트롯데지주서울보증보험한화엔진농심에스원KODEX 미국나스닥100TIGER 200한전기술엘앤에프KCCTIGER 미국필라델피아반도체나스닥한화생명한온시스템KODEX 200TR미스토홀딩스대한전선KODEX CD1년금리플러스액티브(합성)코스맥스롯데쇼핑SK가스제일기획영원무역ACE 미국30년국채액티브(H)한미사이언스ACE 미국S&P500TIGER 미국배당다우존스아시아나항공현대해상한국콜마CJ대한통운한전KPSTIGER MSCI Korea TR씨에스윈드팬오션산일전기아모레퍼시픽홀딩스KODEX 코스닥150레버리지더존비즈온iM금융지주BGF리테일신영증권DL이앤씨HL만도DB하이텍호텔신라TIGER 차이나전기차SOLACTIVEHD현대인프라코어풍산신세계동원산업SK아이이테크놀로지HDC현대산업개발TIGER 25-10 회사채(A+이상)액티브GS건설오뚜기코리안리에스엘대웅제약KODEX 단기채권PLUS대우건설현대백화점ACE 미국나스닥100한국앤컴퍼니RISE 종합채권(A-이상)액티브금호타이어일진전기녹십자SK리츠한올바이오파마영원무역홀딩스하이트진로HD현대마린엔진한솔케미칼OCI홀딩스메리츠 KIS CD금리투자 ETNACE KRX금현물이수스페셜티케미컬HD현대건설기계KODEX 코스닥150한일시멘트TIGER 미국30년국채커버드콜액티브(H)오리온홀딩스RISE 200코스모신소재DN오토모티브더블유게임즈TIGER 25-12 금융채(AA-이상)GS리테일현대위아롯데에너지머티리얼즈KODEX 200선물인버스2XACE 테슬라밸류체인액티브대웅파라다이스에스디바이오센서롯데렌탈HDCSNT다이내믹스경동나비엔KODEX 삼성그룹롯데웰푸드종근당두산퓨얼셀RISE CD금리액티브(합성)롯데리츠다우기술LX인터내셔널가온전선한국카본LS에코에너지TIGER 차이나항셍테크TIGER CD1년금리액티브(합성)효성티앤씨STX엔진한샘ESR켄달스퀘어리츠KODEX 25-12 은행채(AAA)액티브하나 CD금리투자 ETN'] to numeric