2014년, 2015년,2016년 4월 사고(건)데이터만 출력하시오

In [4]:
import pandas as pd

df = pd.read_csv('data/2014년졸음운전교통사고.csv',encoding='euc-kr')
df2 = pd.read_csv('data/2015년졸음운전교통사고.csv',encoding='euc-kr')
df3 = pd.read_csv('data/2016년졸음운전교통사고.csv',encoding='euc-kr')
df3

          구분  사고(건)  사망(명)  부상(명)
0    2016년1월    192      5    387
1    2016년2월    174      6    328
2    2016년3월    217      7    435
3    2016년4월    216      7    419
4    2016년5월    239     13    522
5    2016년6월    200     12    362
6    2016년7월    227      9    460
7    2016년8월    230      7    490
8    2016년9월    187     13    347
9   2016년10월    183     10    367
10  2016년11월    200      5    418
11  2016년12월    168      4    364

In [ ]:
# 2014년 4월 사고 데이터

df.loc[3,'사고(건)']
df.loc[3,'사고(건)']

np.int64(182)

In [13]:
# 2015년 4월 사고 데이터
df2.loc[3,'사고(건)']

np.int64(227)

In [15]:
# 2016년 4월 사고 데이터 
df3.loc[3,'사고(건)']

np.int64(216)